@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700&subset=cyrillic,latin);
body {
    margin: auto;
    padding-top: 50px;
    width: 1000px;
    font-family: 'Open Sans', sans-serif;
    padding-bottom: 50px;
    font-weight: 300;
}
h2,h3{
   text-align: center;
    font-weight: 300;
}
h3{
    color: brown;
   font-weight: 300;
}
a{
    color: black;
}

a:link {text-decoration: none;}
a:visited { text-decoration: none; }
a:active { text-decoration: none; }

#container{
    margin: 0 auto;
}
.masters{
    display: inline-block;
    width:300px;
    text-align: center;
    cursor: pointer;
    font-size: 20pt;
    margin: 30px;
}

.datepicker-here{
    text-align: center;
    margin-top: -25px;
}
/*таблица выбора времени записи*/
table.record-table{
    border-collapse: collapse;
    margin: 0 auto;
    display: block;
    float: left;
}

table.record-table th,
table.record-table td {
    border: 1px solid #000;
    text-align: center;
    width: 150px;
}

table.record-table th{
    font-size: 20px;
    font-weight: 300;
}

.freeTime{
    background: green; /* Цвет фона */
    color: #fff; /* Цвет текста */
}

.busyTime{
    background-color: red !important;
    cursor: default !important;
}

.nav-button{
    display: none;
}
.record-table td:nth-child(2):hover{
    background-color: #9c9c9c;
    color:white;
    cursor: pointer;
}
#userInput{
    display: none;
    text-align: center;
    margin: 0 auto;
}
input, textarea{
    font-family: 'Open Sans', sans-serif;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
}
#button_record{
    height: 50px;
    cursor: pointer;
    background-color: #FF9A19;
    padding: 5px 10px 5px 10px;

}


/*hover masters*/
.view {
    height: 354px;
    width: 265px;

    float: left;
    overflow: hidden;
    position: relative;
    text-align: center;
    box-shadow: 1px 1px 2px #e6e6e6;
    cursor: default;

}
.view .mask, .view .content {
    height: 354px;
    width: 265px;
    position: absolute;
    overflow: hidden;
    top: 0;
    left: 0;
    cursor: pointer;
}
.view img {
    display: block;
    position: relative
}
.view h2 {
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    position: relative;
    font-size: 20px;
    padding: 10px;
    background: rgba(0, 0, 0, 0.8);
    margin: 20px 0 0 0
}
.view p {


    font-size: 12pt;
    position: relative;
    color: #fff;
    padding: 10px 20px 20px;
    text-align: center
}
.view a.info {
    display: inline-block;
    text-decoration: none;
    padding: 7px 14px;
    background: #000;
    color: #fff;
    text-transform: uppercase;
    box-shadow: 0 0 1px #000
}
.view a.info:hover {
    box-shadow: 0 0 5px #000
}

.view-first img {
    transition: all 0.2s linear;
}
.view-first .mask {
    opacity: 0;
    background-color: rgba(100,100,100, 0.7);
    transition: all 0.4s ease-in-out;
}
.view-first h2 {
    transform: translateY(-100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
}
.view-first p {
    transform: translateY(100px);
    opacity: 0;
    transition: all 0.2s linear;
}



.view-first:hover img {
    transform: scale(1.1);
}
.view-first:hover .mask {
    opacity: 1;
}
.view-first:hover h2,
.view-first:hover p,
.view-first:hover a.info {
    opacity: 1;
    transform: translateY(0px);
}
.view-first:hover p {
    transition-delay: 0.1s;
}

/*конец hover masters*/






