@charset "UTF-8";
* {
  padding: 0;
  margin: auto; }

html {
  position: relative;
  min-height: 100%; }

body {
  width: 100%;
  min-width: 900px;
  font-weight: lighter;
  margin: 0 0 44px;
  /* bottom = footer height */ }

ul {
  list-style: none;
  margin: 0;
  padding-left: 0; }

a {
  text-decoration: none;
  color: white; }

main {
  font-family: 'Open Sans', sans-serif; }

header {
  background-image: linear-gradient(270deg, #7F2906 0%, #EF550C 100%);
  height: 160px;
  width: 100%; }
  header #logo {
    padding-left: 10px;
    padding-top: 10px;
    float: left; }
  header address, header #phone {
    background-color: white;
    font-family: 'Open Sans', sans-serif;
    font-style: normal;
    font-size: 15pt;
    color: black;
    padding: 5px; }
  header #phone {
    position: absolute;
    top: 0;
    right: 0; }
  header menu ul {
    font-family: "Poiret One", sans-serif;
    padding-top: 40px;
    display: -webkit-flex;
    /* Safari */
    display: flex; }
    header menu ul li a {
      display: block;
      font-size: 15pt;
      padding: 10px 12px; }
    header menu ul a:hover, header menu ul .active {
      border: 1px solid white;
      padding: 9px 11px; }

footer {
  font-family: "Poiret One", sans-serif;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 46px;
  width: 100%;
  background-image: linear-gradient(270deg, #7F2906 0%, #EF550C 100%); }
  footer menu {
    padding: 5px 0; }
    footer menu ul {
      display: -webkit-flex;
      /* Safari */
      display: flex; }
      footer menu ul li a {
        display: block;
        font-size: 10pt;
        padding: 10px 12px; }
      footer menu ul a.active, footer menu ul a:hover {
        border: 1px solid white;
        padding: 9px 11px; }

#doRecord {
  text-align: center;
  display: block;
  width: 25%;
  background-image: linear-gradient(270deg, #7F2906 0%, #EF550C 100%);
  margin: 20px auto 20px auto;
  padding: 15px 20px; }

#service-carts-container {
  width: 100%;
  display: -webkit-inline-flex;
  display: inline-flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-justify-content: center;
  justify-content: center;
  margin-bottom: 15px; }

.service-cart {
  margin: 5px;
  text-align: center; }
  .service-cart p {
    position: absolute;
    margin-top: 214px;
    background-color: rgba(10, 10, 10, 0.3);
    width: 295px;
    padding: 20px 0;
    color: white;
    font-size: 15pt;
    font-style: normal; }

.stock {
  width: 80%;
  margin: 0 auto;
  overflow: hidden;
  display: -webkit-flex;
  /* Safari */
  display: flex;
  -webkit-flex-wrap: wrap;
  /* Safari */
  flex-wrap: wrap; }
  .stock .cart_stock {
    text-align: center;
    height: 400px;
    width: 300px;
    background-color: #ddd;
    margin: 10px auto; }
    .stock .cart_stock h3 {
      background-color: #b83f0a;
      color: white;
      padding: 10px 0;
      font-family: "Poiret One", sans-serif;
      font-size: 17pt; }
    .stock .cart_stock img {
      width: 300px;
      height: 200px; }
    .stock .cart_stock p {
      padding: 10px 20px;
      text-align: justify; }
    .stock .cart_stock .more {
      text-align: right;
      margin: -10px 10px 10px 0; }
      .stock .cart_stock .more a {
        color: #7F2906;
        font-weight: 400; }

.pagination {
  text-align: center;
  margin-bottom: 30px; }
  .pagination ul {
    display: inline-flex;
    display: -webkit-inline-flex;
    /* Safari */
    width: auto;
    margin: 20px 0 30px 0; }
    .pagination ul li {
      width: 40px;
      height: 40px;
      background-color: #b83f0a;
      margin: 5px; }
      .pagination ul li a {
        margin-top: 10px;
        display: block;
        height: 100%; }
  .pagination .active {
    background-color: maroon; }

.reviews {
  width: 80%;
  margin: 20px auto; }
  .reviews .review {
    margin: 30px 0;
    border: 1px solid gainsboro;
    background-color: #f9f9f9; }
    .reviews .review .review_header {
      text-align: justify;
      background-color: #b83f0a;
      color: white;
      padding: 10px 0;
      font-family: "Poiret One", sans-serif; }
      .reviews .review .review_header .review_name {
        font-size: 19pt;
        margin-left: 10px; }
      .reviews .review .review_header .review_date {
        float: right;
        font-size: 14pt;
        margin: 4px 10px; }
    .reviews .review p {
      padding: 20px 30px; }

.doReview {
  padding: 30px 0;
  width: 100%;
  background: url("../image/backReview.png") 100% 100% no-repeat black;
  /* Добавляем фон */
  background-attachment: fixed;
  background-size: cover;
  height: 540px;
  text-align: center; }
  .doReview form p {
    padding: 0 0 20px 0; }
  .doReview form input, .doReview form textarea {
    padding: 5px 10px; }
  .doReview h3 {
    font-family: 'Open Sans', sans-serif;
    color: white;
    font-size: 18pt; }
  .doReview #name, .doReview #email, .doReview #review {
    width: 40%;
    font-size: 15pt;
    opacity: 0.5; }
  .doReview #name:focus, .doReview #email:focus, .doReview #review:focus {
    opacity: 1;
    outline: none; }
  .doReview #name, .doReview #email {
    height: 30px; }
  .doReview #review {
    height: 200px; }
  .doReview #button {
    height: 40px;
    width: 20%;
    font-family: "Poiret One", sans-serif;
    font-size: 25pt; }

.fixed_doReview {
  background-color: white;
  width: 30%;
  height: 50px;
  position: fixed;
  left: 50%;
  bottom: 10px;
  z-index: 10;
  margin-left: -15%;
  text-align: center;
  border: 3px solid maroon; }
  .fixed_doReview a {
    display: block;
    color: black;
    height: 100%;
    padding: 5px;
    font-size: 20pt;
    font-weight: 500; }

/*адаптация*/
@media (max-width: 900px) {
  #logo {
    display: none; }

  #doRecord {
    width: 40%; }

  .service-cart {
    margin: 35px; } }
@media (min-width: 1400px) {
  header menu ul li a {
    font-size: 20pt; }

  footer menu ul li a {
    font-size: 15pt; } }

/*# sourceMappingURL=styles.css.map */
