@charset 'UTF-8';

/* Arrows */
.slider {
    height: auto;
}
.prev_arrow,.next_arrow{
    position:absolute;
    height: 50px;
    width: 50px;
    z-index: 10;
    opacity: 0.5;
    cursor: pointer;
}
.prev_arrow{
    margin-top: 150px;
}
.next_arrow{
    margin-top: -200px;
    right:0;
}


.slider img {
    width: 100%; }

/* Dots */
.slick-dotted.slick-slider
{

}

.slick-dots
{
    position: absolute;
    margin-top: -40px;
    display: block;
    width: 100%;

    list-style: none;

    text-align: center;
}
.slick-dots li
{
    position: relative;

    display: inline-block;

    width: 20px;
    height: 20px;
    margin: 0 5px;
    padding: 0;

    cursor: pointer;
}
.slick-dots li button
{
    font-size: 0;
    line-height: 0;

    display: block;

    width: 20px;
    height: 20px;
    padding: 5px;

    cursor: pointer;

    color: transparent;
    border: 0;
    outline: none;
    background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus
{
    outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before
{
    opacity: 1;
}
.slick-dots li button:before
{
border: 2px solid white;
    border-radius: 50%;


    position: absolute;
    top: 0;
    left: 0;

    width: 20px;
    height: 20px;

    content: '•';
    text-align: center;

    opacity: .25;
    color: black;

    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before
{
    background-color: #333;
    opacity: .75;
    color: black;
}
