*{
    padding:0;
    margin:0;
}

body{
    width: 100%;
    font-weight: 100;
    min-width: 870px;
}
ul {
    list-style: none; /*убираем маркеры списка*/
    margin: 0; /*убираем верхнее и нижнее поле, равное 1em*/
    padding-left: 0; /*убираем левый отступ, равный 40px*/
}
a {
    text-decoration: none; /*убираем подчеркивание текста ссылок*/
    display: block;
    color: white;
    font-family: "Poiret One", sans-serif;
    font-weight: lighter;

}

header{
    background-image: linear-gradient(269deg, #7F2906 0%, #EF550C 100%);
    height: 125px;
}
h1{
    font-weight: inherit;
    color: white;

}
#logo{
    padding-left: 10px;
    padding-top: 1%;
    float: left;
    margin-right: 7%;
    width: 20%;
    max-height: 100px;
}
menu ul{
    display: flex;
    padding-left: 50px;
    overflow: hidden;
}
menu ul li{
    margin: 40px 5% 0 0;
}
menu ul li a{
    padding:10px 12px;
    font-size: 15pt;
}
menu ul li a:hover{
    border: 1px solid white;
    padding: 9px 11px;
}



/*адаптация*/

/*
@media (max-width:720px) {
    #logo{
        display: none;
    }
menu ul{
    display: block;
}


}
*/

